html{
    scroll-behavior: smooth;
}
body{
    margin: 0;
    padding: 0; 
    font-family: 'Noto Sans Georgian';
} 
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0; 
    font-family: 'Noto Sans Georgian';
} 
header{
    position: sticky;
    top: 0;
    z-index: 999;
}
.handle-container-big{
    max-width: 1840px;  
    margin-right: auto;
    margin-left: auto;
    padding: 0 30px; 
}
.handle-container-small{
    max-width: 1642px;
    display: flex;
    justify-content: space-between;
    margin-right: auto;
    margin-left: auto;
    padding: 0 30px; 
}
.t-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px 0; 
}
.top-header{
    width: 100%;
    background: #3296E1;  
} 
.back-button{
    display: flex;
    align-items: center;
    gap: 20px;
    font-size: 16px;
    font-weight: 700;
    text-decoration: none;
    color: #fff;
}
.flex-center-0{
    display: flex;
    align-items: center;
    justify-content: center;
}
.soc-links-header{
    display: flex;
    align-items: center;
    gap: 32px;
}
.soc-links-header a{
    width: 48px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FFCC02;
    border-radius: 50%;
}
.bottom-header{
    padding: 8px 0;
    width: 100%;
    height: 112px; 
    background-color: #fff; 
    z-index: 999;
    top: 0;
    transition: 0.2s;
}

.b-header{ 
    display: flex;
    justify-content: space-between;
    align-items: center; 
}  
.lang-box{
    position: relative; 
    display: flex;
    min-width: 60px; 
    height: 23px; 
}
.lang-box ul{
    margin: 0; 
    position: absolute;
    min-width: 60px;  
    background: #fff;
    display: flex;
    flex-direction: column;
    gap: 5px;
    max-height: 30px;
    overflow: hidden; 
}
.lang-box ul li{
    list-style: none; 
}
.lang-box ul li a{
    color:#000;
    font-size: 16px; 
    font-weight: 700; 
    width: fit-content;
    text-decoration: none;
} 
.lang-vector{
    position: absolute;
    right: 0;
    top: -2px;
    z-index: 99;
    cursor: pointer;
} 
.active-lang-box ul{
    max-height: 100px!important; 
}
.logo{
    width: 132px;
    height: 96px;
}
.logo a{
    width: 100%;
    height: 100%;
    display: block;
}
.logo a img{
    width: 132px;
    height: 100%;
}
.nav-menu ul{
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 45px;
}
.nav-menu ul li{
    list-style: none;
}
.nav-menu ul li a{
    font-size: 16px;
    font-weight: 700;
    color: #000;
    cursor: pointer;
}
.nav-menu ul li.active-link a{
    color: #3296E1;
}
.burger-icon, .burger-menu{
    display: none;
}
  
.recomendation-section{
    width: 100%;
    padding-top: 115px;
    background: #3296E1;
}
.relative-rec{
    position: relative;
    width: 100%;
    height: 632px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    overflow: hidden;
}
.rec-text{
    display: flex;
    flex-direction: column;
    gap: 50px;
}
.rec-text .title{
    font-size: 72px;
    color: #fff;
    line-height: 1.3;
    max-width: 862px; 
    font-weight: 700; 
}
.rec-link a{
    padding: 14px 24px;
    font-size: 16px;
    color: #000;
    text-decoration: none;
    background: #FFCC02;
    border-radius: 50px;
    text-transform: capitalize;
    font-weight: bold;
    position: relative;
    z-index: 5;
    transition: 0.3s;
}
.rec-link a:hover{
    color: #FFCC02;
    background: #000;
}
.lines-background-img{
    width: 100%;
    position: absolute;
    right: 39px;
    top: 25px;
    display: flex;
    justify-content: flex-end;
    z-index: 2;
}
.background-lines{
    width: 100%;
}
.absolute-tab-rec{
    position: absolute;
    right: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
    z-index: 4;
}
 .tabs-content{
    width: calc(100% - 670px);  
 } 
 .tab-content{
    display: none;
    width: 100%;
    height: 620px;
    padding: 56px;
    border-radius: 30px;
    position: relative;
    background: #FFCC02;
    z-index: 9;
 }
 .tab-content h2{
    font-size: 22px;
    font-weight: bold;
    color: #000;
    line-height: 1.3;
 }
 .tab-content .text{
    font-size: 22px;
    font-weight: 400;
    color: #000;
    line-height: 1.3;
    margin-top: 25px;
 }

 .relative-container{
    position: relative;
    height: 644px;
    width: 616px; 
 }
 
.item{
    background: #fff;
    border-radius: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    position: absolute;
  }
 .item .text{
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    color: #000;
    font-weight: bold;
    top: 0;
    left: 0; 
    opacity: 0;
    transition: 0.2s;
    background: #FFCC02;
    text-align: center;
    overflow: hidden;
    padding: 5px;
 }
 .item:hover .text{
    opacity: 1;
 }
 .item:nth-child(1){
    width: 208px;
    height: 184px;  
    top: 12px;
    left: 0;
 }
 .item:nth-child(1) img{
    max-width: 116px;
    max-height: 78px;
 }
 .item:nth-child(2){
    width: 132px;
    height: 200px;  
    top: 0;
    left: 240px;
 }
 .item:nth-child(2) img{
    max-width: 94px;
    max-height: 91px;
 }
 .item:nth-child(3){
    width: 200px;
    height: 224px;  
    top: 0;
    left: 404px;
 }
 .item:nth-child(3) img{
    max-width: 76px;
    max-height: 125px;
 }
 .item:nth-child(4){
    width: 152px;
    height: 132px;  
    top: 228px;
    left: 36px;
 }
 .item:nth-child(4) img{
    max-width: 85px;
    max-height: 85px;
 }
 .item:nth-child(5){
    width: 184px;
    height: 200px;  
    top: 232px;
    left: 220px;
 }
 .item:nth-child(5) img{
    max-width: 114px;
    max-height: 82px;
 }
 .item:nth-child(6){
    width: 132px;
    height: 200px;  
    top: 256px;
    left: 436px;
 }
 .item:nth-child(6) img{
    max-width: 95px;
    max-height: 95px;
 }
 .item:nth-child(7){
    width: 184px;
    height: 240px;  
    top: 396px;
    left: 15px;
 }
 .item:nth-child(7) img{
    max-width: 95px;
    max-height: 95px;
 }
 .item:nth-child(8){
    width: 152px;
    height: 132px;  
    top: 464px;
    left: 232px;
 }
 .item:nth-child(8) img{
    max-width: 95px;
    max-height: 95px;
 }
 .item:nth-child(9){
    width: 200px;
    height: 132px;  
    top: 488px;
    left: 416px;
 }
 .item:nth-child(9) img{
    max-width: 95px;
    max-height: 95px;
 }

.about-section{
    min-height: 888px;
    width: 100%;
    position: relative;
    padding-top: 308px;
    padding-bottom: 50px;
}
.backgorund-image-about{
    width: 100%;
    height: 888px;
    position: absolute;
    top: 0;
    left: 0; 
    z-index: -1;
}
.backgorund-image-about img{
    width: 100%;
    height: 100%;
}
.about-us-box{
    width: 100%;
    padding: 56px;
    display: flex;
    gap: 56px;
    justify-content: space-between;
    align-items: flex-start;
    border-radius: 32px;
    background: #3296E1;
}
.about-us-image{
    width: 544px;
    height: 536px;
    border-radius: 32px;
    overflow: hidden;
}
.about-us-image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.about-text-box{
    width: calc((100% - 600px)); 
}
.about-text-box h1{
    font-size: 72px;
    color: #fff;
    line-height: 1.3;
    font-weight: bold;
}
.about-text-box .text{
    font-weight: 400;
    color: #fff;
    font-size: 22px;
    line-height: 1.5;
    margin-top: 30px;
}
.reels-section{
    padding: 50px 0;
    width: 100%;
}
.reels-title{
    margin-bottom: 40px;
}
.reels-title h1{
    font-size: 72px;
    color: #000;
    font-weight: 700;
}
.reels-item{ 
    height: 472px!important; 
    overflow: hidden;
    padding: 0 12px;
}
.reels-item img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 32px;
}